.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

svg{
  cursor: all-scroll;
}
.centralText{
  font: 23spx sans-serif;
  fill: #222;
  font-weight: bold;
}
.downwardNode circle{
  fill: #fff;
  stroke: #8b4513;
  stroke-width: 2.5px;
}
.upwardNode circle {
  fill: #fff;
  stroke: #37592b;
  stroke-width: 2.5px;
}
.downwardNode text,
.upwardNode text {
  font: 12px sans-serif;
  font-weight:bold;
}
.downwardLink {
  fill: none;
  stroke: #8b4513;
  stroke-width: 3px;
  opacity: 0.2;
}
.upwardLink {
  fill: none;
  stroke: #37592b;
  stroke-width: 3px;
  opacity: 0.2;
}